[submodule "src/stig-apache"]
	path = src/stig-apache
	url = https://github.com/mikefeneley/stig-apache.git
[submodule "src/stig-jre"]
	path = src/stig-jre
	url = https://github.com/mikefeneley/stig-jre.git
[submodule "src/stig-windows7"]
	path = src/stig-windows7
	url = https://github.com/mikefeneley/stig-windows7.git
[submodule "src/stig-windows10"]
	path = src/stig-windows10
	url = https://github.com/mikefeneley/stig-windows10.git
[submodule "src/stig-mac"]
	path = src/stig-mac
	url = https://github.com/mikefeneley/stig-mac.git
[submodule "src/stig-firefox"]
	path = src/stig-firefox
	url = https://github.com/mikefeneley/stig-firefox.git
